.breadcrumb {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 18px;

  .breadcrumb-item {
    a {
      color: inherit;
    }
    &:hover,
    &.active {
      color: #1761fd;
    }
  }
}
