.group-item,
.report-item {
  height: 100%;
  border: 1px solid #e3ebf6;
  border-radius: 4px;
  padding: 16px;

  display: flex;
  flex-direction: column;

  position: relative;

  .head {
    display: flex;
    flex-direction: row;

    .icon {
      margin-right: 16px;
      width: 48px;
      height: 48px;
    }
    .info {
      display: flex;
      flex-direction: column;

      height: max-content;

      overflow: hidden;
    }
    .info * {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .info .name {
      color: #343434;

      flex: 1;
    }
    .info {
      .member-number,
      .score {
        color: #8997bd;
        font-size: 14px;
      }
    }
  }
  .content {
    padding: 24px 0;

    display: flex;
    flex-direction: column;

    .id-number {
      line-height: 1;
      color: #8997bd;
      font-size: 14px;
      font-weight: bold;

      margin-bottom: 14px;
    }
  }
  .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    font-size: 14px;
    font-weight: bold;

    .status {
      color: #8997bd;

      margin: 10px 0;
      margin-right: 10px;

      .active,
      .inactive {
        margin-left: 4px;
        padding: 5px 15px;
        border-radius: 16px;
      }
      .active {
        background: #d9f9ec;

        color: #03d87f;
      }
      .inactive {
        background: #f1f5fa;

        color: #969696;
      }
    }
    .btn-details {
      border: 0;
      border-radius: 24px;
      padding: 10px 20px;
      margin-left: auto;

      font-weight: 500;
      color: #343434;

      background: #f1f5fa;

      display: flex;
      align-items: center;

      i {
        margin-left: 4px;
      }
    }
  }

  .dropdown {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
.report-item {
  .content {
    .info {
      font-size: 14px;
      color: #4f4f4f;
    }
  }
}
